img{
    width: 350px;
    height: auto; 
}

.buttons {
    float: right;
}

div.buttons>a>button{
    background-color: #1A73E8;
    color: white;
    border-width: 0;
    border-radius: 5px;
    height: 37.5px;
    width: 125px;
    font-size: 14px;
    margin: 5px;
}

div.buttons>a>button:hover{
    border-width: 1px;
    height: 36.5px;
    box-shadow: 0.5px 0.5px 2px grey;
}



.form{
    position: absolute;
    top: 30%;
    text-align: center;
    left: 30%;
}

#bar{
    width: 700px;
    height: 30px;
    border-radius: 20px;
    border-color: white;
    margin-bottom: 10px;
    border-bottom: 1px;
    border-width: 1px;
}


div.form>form>input[type=submit]{
    background-color: whitesmoke;
    width: 175px;
    border-width: 0px;
    padding: 10px;
    border-radius: 5px;
    
}

div>form>input[type=submit]:hover{
    border-width: 1px;
    padding: 9px;
    box-shadow: 0.5px 0.5px 2px grey;
}

