#back{
    background-color: #1A73E8;
    color: white;
    border-width: 0;
    border-radius: 5px;
    height: 50px;
    width: 160px;
    font-size: 17.5px;
    margin: 5px;
}

#back:hover{
    box-shadow: 0.5px 0.5px 2px grey;
}

div.form>img{
    height: auto;
    width: 350px;
}

div.form{
    position: absolute;
    top: 40%;
    text-align: center;
    left: 39%;
}

#searchBar{
    height: 30px;
    width: 300px;
    border-radius: 20px;
    border-color: white;
    margin-bottom: 10px;
    border-bottom: 1px;
    border-width: 1px;
}

#btn{
    background-color: whitesmoke;
    width: 125px;
    border-width: 0px;
    padding: 10px;
    border-radius: 5px;
}

#btn:hover{
    border-width: 1px;
    padding: 9px;
    box-shadow: 0.5px 0.5px 2px grey;
}