.pc-headers{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: #B9B9B9;
}

.table-header{
    border-left: 1px solid white;
}

.pc-headers>div{
    font-family: "Sansation", sans-serif;
    font-size: 20px;
    align-content: center;
    padding-left: 10px;
}

.build-pc-menu{
    margin-top: 6%;
    margin-bottom: 6%;
    margin-left: 7%;
    margin-right: 7%;
    border: 1px solid black;
}

.pc-table{
    margin-top: 2%;
    margin-bottom: 2%;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    gap: 30px;
}

.item{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    margin-left: 10px;
}

.item>div{
    font-family: "Inter", sans-serif;
    color: #2C87C3;
    text-decoration: underline;
    font-size: 12px;
    font-weight: bold;
}

.add-button{
    width: 86px;
    height: 28px;
    border: 0px;
    background-color: #2C87C3;
    font-family: "Sansation", sans-serif;
    color: white;
}

.large-text{
    display: flex;
    font-family: "Sansation", sans-serif;
    font-size: 60px;
    font-weight: bold;
    justify-content: center;
    margin-top: 6%;
}

