div>form>input[type=text]{
    width: 350px;
    margin: 5px;
    height: 20px;
    margin-left: 20px;
    display: flex;
}

#back{
    background-color: #1A73E8;
    color: white;
    border-width: 0;
    border-radius: 5px;
    height: 50px;
    width: 160px;
    font-size: 17.5px;
    margin: 5px;
}

#back:hover{
    box-shadow: 0.5px 0.5px 2px grey;
}

#title{
    color: red;
    font-size: 25px;
    padding: 10px;
}

div>form{
    font-family: Arial, Helvetica, sans-serif;
}

div>form>span{
    padding: 10px;
}

div>form>input[type=submit]{
    background-color: whitesmoke;
    width: 175px;
    border-width: 0px;
    padding: 10px;
    border-radius: 5px;
    
}

div>form>input[type=submit]:hover{
    border-width: 1px;
    padding: 9px;
    box-shadow: 0.5px 0.5px 2px grey;
}